hr{
    border: 0.5px solid darkblue;
}
#entiteit{
    border: 1px solid darkgray;
}
td, th{
    border: 1px solid darkgray;
    padding: 0%;
}
th{
    background-color: black;
    color: white;
}
caption{
    caption-side: bottom;
}