h1{
    padding: 0%;
    margin: 0%;
    font-size: 2em;
    color: orangered;
}
.padding{
    padding-top: 15px;
    padding-bottom: 15px;
}
.padding a:link{
    color: blue;
}
.padding a:visited{
    color: green;
}
.padding a:hover{
    color: red;
}

