body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: white;
    margin-left: auto;
    text-align: center;
    text-size-adjust: 50px; 
}
a{
    color: white;
    margin-left: 10px;
}
p{
    color: white;
}
div{
    color: white;
    margin: 5px;
    padding-left: auto;
}