body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    background-color: black;
    color: lightgray;
    margin-left: auto;
    text-align: center;
    text-size-adjust: 50px; 
}
a{
    color: lightgray;
    margin-left: 10px;
}
p{
    color: lightgray;
}
h2{
    color: lightgray;
    text-decoration-line: underline;
}
table{
    border: solid 1px Gray;
    border-collapse: collapse;
    color: lightgray;
    border-radius: 1em;
    border-width: 5px;
}
tr, td{
    border: 0.5px solid lightgray;
    border-collapse: collapse;
    height: 25px;

}
.Breedtekolom1{
    width: 250px;
}
.Breedtekolom2{
    width: 600px;
}
