body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    background-color: black;
    color: gray;
    margin-left: auto;
    text-align: center;
    text-size-adjust: 100px; 
    font-weight: bolder;
    
}
a{
    color: gray;
    margin-left: 50px;
}
h2{
    color: gray;
    text-decoration: underline;
}
.Kopkader{
    border: 1px solid gray;
}